  /* footer  */
  footer {
    background: var(--black);
    padding: 50px 0 30px;
  }

  .page-footer {
    margin-top: auto;
  }

  footer h4 {
    color: var(--white);
    text-transform: uppercase;
    margin-bottom: 20px;
  }

  .footer-block {
    width: 18%;
  }

  .footer-block.footer-newsletter input[type="text"] {
    height: 50px;
  }

  .footer-block.footer-newsletter {
    width: 28%;
  }

  .footer-block ul a {
    color: var(--white);
    margin-bottom: 5px;
    display: inline-block;
  }

  .footer-block ul a:hover {
    color: var(--secondary);
  }

  .footer-wrapper {
    display: flex;
    flex-wrap: wrap;
  }

  footer p {
    color: var(--white);
    font-size: 14px;
  }

  .footer-block.footer-newsletter form {
    display: flex;
    gap: 16px;
    margin-top: 14px;
  }

  .footer-block.footer-newsletter form button {
    background: var(--secondary);
    padding: 0 20px;
    border-radius: 5px;
    cursor: pointer;
  }

  .footer-block.footer-newsletter form button:hover {
    background: var(--primary);
  }

  .footer-block.footer-newsletter h4 {
    margin-bottom: 5px;
  }

  ul.social {
    display: flex;
    margin-top: 30px;
    gap: 10px;
  }

  .footer-block ul.social a {
    border-radius: 50%;
    border: 1px solid var(--white);
    width: 40px;
    height: 40px;
    display: flex;
    align-items: center;
    justify-content: center;
    color: white;
  }

  .footer-block ul.social a:hover {
    background: var(--secondary);
    border: 1px solid var(--secondary);
    color: white;
  }

  .footer-block ul.social a:hover svg {
    fill: var(--white);
  }

  .footer-copyright {
    display: flex;
    justify-content: space-between;
    padding-top: 100px;
    flex-wrap: wrap;
    gap: 12px;
  }

  .payment {
    display: flex;
    gap: 8px;
  }

  .payment img {
    background: var(--white);
    width: 50px;
    height: 25px;
    border-radius: 2px;
    padding: 2px;
  }



  .shipping-steps .dflex {
    flex-wrap: nowrap;
  }

  .shipping-block {
    display: flex;
    align-items: center;
    flex: auto;
  }

  .shipping-block:hover .icon img {
    filter: brightness(0) invert(1);
  }

  .shipping-block .icon {
    min-width: 105px;
    width: 105px;
    height: 105px;
    background: var(--orange);
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
  }

  .shipping-block:hover .icon {
    background: var(--primary);
  }

  .shipping-block p {
    font-size: 18px;
    font-weight: bold;
    margin-left: 25px;
  }

  /* footer  */

  @media screen and (max-width: 1400px) {
    .shipping-block .icon {
      min-width: 80px;
      width: 80px;
      height: 80px;
    }

    .shipping-block .icon img {
      width: 42px;
    }

    .shipping-block p {
      font-size: 16px;
      margin-left: 16px;
    }

    .footer-block ul a {
      font-size: 14px;
    }

    .footer-block h5 {
      font-size: 18px;
    }

  }


  @media screen and (max-width: 1199px) {
    .footer-block {
      width: 50%;
      margin-bottom: 30px;
    }

    .footer-block.footer-newsletter {
      width: 50%;
    }

    .footer-copyright {
      padding-top: 12px;
    }
    .shipping-steps .dflex {
      flex-wrap: wrap;
    }

    .shipping-block {
      margin-bottom: 16px;
      width: 50%;
      flex: initial;
    }

  }

  @media screen and (max-width: 991px) {


    footer {
      padding: 50px 0 70px 0;
    }

  }

  @media screen and (max-width: 767px) {

    .footer-block {
      width: 100%;
    }

    .footer-block.footer-newsletter {
      width: 100%;
    }


    .shipping-block .icon {
      width: 50px;
      min-width: 50px;
      height: 50px;
    }

    .shipping-block .icon img {
      width: 32px;
    }

    .shipping-block p {
      font-size: 14px;
    }
  }

  @media screen and (max-width: 480px) {
    .shipping-block {
      width: 100%;
    }
  }